body {
	display: flex;
	flex-direction: column;
}

header {
	background-color: green;
	color: blue;
	padding-top: 1vh;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-left: 1vw;
 }

h1 {	
	text-align: center;
	padding-top: 1vh;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-left: 1vw;
	font-family: Arial, Helvetica, sans-serif;
	font-style: oblique;
	font-size: 5vw;
	font-weight: bold;
	font-variant: normal;
}

h2 {	
	text-align: center;
	padding-top: 1vh;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-left: 1vw;
	font-family: Arial, Helvetica, sans-serif;
	font-style: oblique;
	font-size: 3vw;
	font-weight: bold;
	font-variant: normal;
}

main {
	display: flex;
	flex-direction: row;
	background-color: blue;
	padding-top: 5vh;
	padding-right: 5vw;
	padding-bottom: 5vh;
	padding-left: 5vw;
	height: 75vh;
	font-size: 2.5vw;
}

#cuentos {	
	color: gold;
	background-color: green;
	width: 35vw;
	margin-right: 4.5%;
	margin-left: 7.5%;
}

#biblioteca{
	color: gold;
	background-color: green;
	width: 35vw;
	margin-right: 7.5%;
	margin-left: 4.5%;
}

a{	
	color: blue;
	padding-left: 5.2vw;
	line-height: 55vh;
}


footer{	
	background-color: green;
	color: blue;
	padding-top: 1vh;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-left: 1vw;
}

footer{	
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-style: oblique;
	font-size: 2.5vw;
	font-weight: bold;
	font-variant: normal;
}

#myBtn{
	color: green;
	background-color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-style: oblique;
	font-size: 3vw;
	font-weight: bold;
	font-variant: normal;
	padding-top: 1vh;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-left: 1vw;
	width: 25vw;
    height: 12vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/*media queries and z-index*/

/*#myBtn {
    width: 300px;
    padding: 10px;
    font-size:20px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 50px;
    z-index: 9999;
}
*/