header{	background-color: green;
		color: blue;
		height: 75px;
}
	h1{	margin: auto;
		width: 30%;
		border: none;
		padding: 7px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: oblique;
		font-size: 45px;
		font-weight: bold;
		font-variant: normal;}

main{	background-color: blue;
		color: blue;
		height: 650px;
		font-size: 50px;}
	h2{	margin: auto;
		width: 22%;
		border: none;
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: oblique;
		font-size: 45px;
		font-weight: bold;
		font-variant: normal;}
#cuentos{background-color: green;
		height: 500px;
		width: 550px;
		float: left;
		padding: 25px;
		position: relative;
		left: 100px;}
#biblioteca{background-color: green;
		height: 500px;
		width: 550px;
		float: right;
		padding: 25px;
		position: relative;
		right: 100px;}
	a{	text-align: center;
		padding: 55px;
		line-height: 450px;}


footer{	background-color: green;
		color: blue;
		height: 100px;}
	.final{	margin: auto;
			width: 30%;
			border: none;
			font-family: Arial, Helvetica, sans-serif;
			font-style: oblique;
			font-size: 30px;
			font-weight: bold;
			font-variant: normal;}
