body{	display: flex;
		flex-direction: column;}
header{	background-color: red;
		color: white;
		padding-top: 15px;
    	padding-right: 15px;
    	padding-bottom: 15px;
    	padding-left: 15px;}
h1{		margin: auto;
		width: 25vw;
		border: none;
		padding-top: 10px;
    	padding-right: 10px;
    	padding-bottom: 10px;
    	padding-left: 10px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-style: oblique;
		font-size: 35px;
		font-weight: bold;
		font-variant: normal;}
p{		margin: auto;
		text-align: center;
		border: none;
		padding-top: 7px;
    	padding-right: 7px;
    	padding-bottom: 7px;
    	padding-left: 7px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: oblique;
		font-size: 25px;
		font-weight: bold;
		font-variant: normal;}
button{	background-color: green;
		color: blue;
		font-size: 18px;
		font-weight: bold;
		border: none;}

main{	font-size: 22px;
text-align: center;
font-weight: normal;}
h2{ font-weight: bold; }
#indicador{	background-color: white;
			color: red;
			font-family: Arial, Helvetica, sans-serif;
			font-style: oblique;
			font-size: 35px;
			font-weight: bold;
			font-variant: normal;
			text-align: center;
			padding: 3px;}
	li{		font-weight: normal;
			font-size: 25px;}

.titulo{	font-weight: bold;}
.sub{		font-size: 25px;
			font-style: italic;
			font-weight: normal;}

#Russia{ 	background-color: red;
			color: white;
			text-align: center;
			padding-top: 25px;
    		padding-right: 25px;
    		padding-bottom: 25px;
    		padding-left: 25px;}

#Conversacion{background-color: white;
			color: red;
			text-align: center;
			padding-top: 25px;
    		padding-right: 25px;
    		padding-bottom: 25px;
    		padding-left: 25px;}

#puta{		background-color: red;
			color: white;
			text-align: center;
			padding-top: 25px;
    		padding-right: 25px;
    		padding-bottom: 25px;
    		padding-left: 25px;}

footer{	/*background-color: red;*/
		color: red;/*white;*/
		font-size: 35px;
		text-align: center;
		height: 50px;}

/*media queries*/